header.header 
  .container 
    .row.align-items-center
      .col-3 
        .inner-logo 
          a(href='/')
            img(src="/images/logo.jpg", alt="Logo")
      .col-5 
        .box-search 
          form(
            action="/search/result"
            method="GET"
          )
            div(class="form-group d-flex mb-0")
              input(
                type="text"
                placeholder="Nhập từ khóa..."
                class="form-control"
                name="keyword"
                value=keyword
              )
              button(
                type="submit"
                class="btn btn-primary"
              ) Tìm
          .inner-suggest
            .inner-list 
              //- a(href=`/songs/detail/:slugSong` class="inner-item")
              //-   .inner-image 
              //-     img(src="1231")
              //-   .inner-info 
              //-     .inner-title 
              //-     .inner-singer 
              //-       <i class="fa-solid fa-microphone-lines"></i> 
      .col-4
        .inner-menu
          ul
            li
              a(href="/") <i class="fa-solid fa-house"></i> Trang chủ
            li 
              a(href="/topics") <i class="fa-solid fa-music"></i> Chủ đề
            li 
              a(href="/favorite-songs") <i class="fa-solid fa-heart"></i> Yêu thích
            li
              a(href="/user/info") <i class="fa-solid fa-user"></i> Tài khoản
            if(user)
              li 
                a(href="/user/logout") Đăng xuất
            else 
              li 
                a(href="/user/register") Đăng ký
              li 
                a(href="/user/login") Đăng nhập