extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)

  h1(class="mb-4") #{pageTitle}

  form(
    action=`${prefixAdmin}/singers/edit/${singer.id}`
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="fullName") Tên ca sĩ
      input(
        type="text"
        class="form-control"
        id="fullName"
        name="fullName"
        required
        value=singer.fullName || ''
      )
    div(class="form-group")
      label(for="gender") Giới tính 
      div(class="form-check form-check-inline")
        input.form-check-input(
          type="radio"
          name="gender"
          id="male"
          value="male"
          checked=singer.gender === "male" || false
        )
        label.form-check-label(for="male") Nam
      div(class="form-check form-check-inline")
        input.form-check-input(
          type="radio"
          name="gender"
          id="female"
          value="female"
          checked=singer.gender === "female" || false
        )
        label.form-check-label(for="female") Nữ
      div(class="form-check form-check-inline")
        input.form-check-input(
          type="radio"
          name="gender"
          id="other"
          value="other"
          checked=singer.gender === "other" || false
        )
        label.form-check-label(for="other") Khác
    div(class="form-group")
      label(for="birthDate") Ngày sinh
      input(
        type="date"
        class="form-control"
        id="birthDate"
        name="birthDate"
        required
        value=(singer.birthDate ? singer.birthDate.toISOString().split('T')[0] : '')
      )
    div(class="form-group")
      label(for="hometown") Quê quán
      input(
        type="text"
        class="form-control"
        id="hometown"
        name="hometown"
        required
        value=singer.hometown || ''
      )
    div(class="form-group" upload-image)
      label(for="avatar") Ảnh
      input(
        type="file"
        class="form-control-file"
        id="avatar"
        name="avatar"
        accept="image/*"
        upload-image-input
      )
      img(
        src=singer.avatar || ''
        class="image-preview"
        upload-image-preview
      )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked=singer.status === "active" || false
      )
      label(for="statusActive" class="form-check-label") Hoạt động
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked=singer.status === "inactive" || false
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Cập nhật